{% extends "base.html" %} {% block title %}View_data{% endblock title %} 
{% block body %}
<div class="container pt-4">
  <h1>Expense Tracker</h1>
</div>
<div class="container p-3">
  <label for="create_entries" class="btn">Create Action: </label>
  <a href="/create_income" class="btn text-white bg-success">+ Create Income</a>
  <a href="/create_expense" class="btn text-white bg-danger"
    >+ Create Expense</a
  >
</div>
<div class="container">
  <table class="table caption-top">
    <thead>
      <tr>
        <th scope="col">S.N</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in expenses %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{expense.name}}</td>
        <td>{{expense.description}}</td>
        <td>{{expense.type}}</td>
        {% if expense.type == "Expense" %}
        <td class="text-danger"><strong>{{expense.amount}}</strong></td>
        {% elif expense.type == "Income" %}
        <td class="text-success"><strong>{{expense.amount}}</strong></td>
        {% endif %}
        <td>
          <a class="btn btn-primary" href="{{expense.pk}}/edit" role="button">Edit</a>

          <!-- Modal -->
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Delete
          </button>
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">  
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Delete Entry?
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">Are You Sure?</div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                  <a href="{{expense.pk}}/delete" name="delete" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}
